* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}

.list-btn {
  position: relative;
  float: right;
}

.container {
  justify-content: center;
  margin-top: 20vh;
}
