<li class="list-group-item">
    {{burger_name}}
    <button class="change-devour btn btn-outline-dark btn-sm list-btn" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devoured}}no thanks{{else}}yum{{/if}}
    </button>
</li>